.combobox {
  width: 100%;
  padding: 0.6rem 0.7rem;
  &.open{
    background-color: #edeaff;
  }
}

.options {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
  overflow: hidden;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  z-index: 1;
  width: 100%;
  list-style: none;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  &.open{
    display: flex;
  }
  > div {
    padding: 0.6rem 0.7rem;
    border: 0;
    background-color: #fff;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      filter: brightness(95%);
      -webkit-filter: brightness(95%);
    }
  }
}
