.wrapper {
  width: 100%;
  position: relative;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  overflow: hidden;
  &.line {
    border: 2px solid #ddd;
    &.active {
      border-color: #8c7ce9;
      background-color: #f3f3f3;
    }
    &:hover {
      background-color: #f3f3f3;
    }
  }
  .label {
    position: absolute;
    left: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    &.left {
      left: 2.5rem;
    }
    &.active {
      color: #8c7ce9;
      font-size: 0.8rem;
      top: 0.25rem;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      &.normal {
        color: #333;
      }
    }
  }
  input {
    display: inline-flex;
    border: 0;
    background-color: transparent;
    padding: 1.5rem 0.7rem 0.6rem;
    outline: 0;
    width: calc(100% - 1.4rem);
    line-height: 1.2rem;
    &.left {
      width: calc(100% - 3.2rem);
      padding: 1.5rem 0.7rem 0.6rem 2.5rem;
    }
    &.right {
      width: calc(100% - 3.2rem);
      padding: 1.5rem 2.5rem 0.6rem 0.7rem;
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 0;
    &.left {
      left: 10px;
    }
    &.right {
      right: 10px;
    }
  }

  &.disabled {
    input {
      background-color: #eee;
    }
    &:hover {
      background-color: #eee;
    }
  }
}

.help {
  color: #999;
  font-size: 0.75rem;
}

.error {
  margin: 4px 0 0;
  color: #da2828;
  font-size: 0.75rem;
  letter-spacing: -0.1rem;
}
