.container {
  position: relative;
  padding: 20px;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  min-height: calc(100svh - 50px);
  &.open {
    transform: translateX(182px);
    -webkit-transform: translateX(182px);
    -moz-transform: translateX(182px);
    -ms-transform: translateX(182px);
    -o-transform: translateX(182px);
  }
}
