.tabs {
  position: relative;
  .indicator {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #4700cc;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
  }
}
