.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: calc(100% - 50px);
  overflow: hidden;
  padding-left: 50px;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  background-color: #e7e7e7;
  z-index: 1;
  &.open {
    transform: translateX(182px);
    -webkit-transform: translateX(182px);
    -moz-transform: translateX(182px);
    -ms-transform: translateX(182px);
    -o-transform: translateX(182px);
  }
  h1 {
    margin: 0;
    padding:0 16px;
    font-size: 24px;
    line-height: 50px;
  }
}
