.wrapper {
  display: inline-block;
  position: fixed;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 1;
  .box {
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    background-color: #fff;
    padding:40px 10px 10px;
  }
  .close{
    position: absolute;
    right:10px;
    top:10px;
    border:0;
    font-size: 0;
    background-color: #888;
    width: 15px;
    height: 15px;
  }
}
