.wrap{
  position: fixed;
  top:0;
  left: 0;
  width:100vw;
  height: 100vh;
}
.toast {
  display: inline-flex;
  align-items: center;
  padding: 0.4rem 0.8rem;
  position: absolute;
  left: 50%;
  z-index: 1;
  width: max-content;
  max-width: 200px;
  background-color: #333;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  animation: slideUp 0.3s forwards linear;
  -webkit-animation: slideUp 0.3s forwards linear;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  button {
    margin-left:8px;
    border: 0;
    width: 20px;
    height: 20px;
    background-color: #999;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &.bottom {
    bottom: 10px;
  }
  &.top {
    top: 10px;
  }
  &.slide-down {
    animation: slideDown 0.3s forwards ease-in-out;
    -webkit-animation: slideDown 0.3s forwards ease-in-out;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%);
    -moz-transform: translate(-50%, 100%);
    -ms-transform: translate(-50%, 100%);
    -o-transform: translate(-50%, 100%);
  }
}
